<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>AFoV</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

	</head>
	<body>
		<nav>
			<div class="nav-wrapper">
				<div class="container">
					<a class="" href="/">
						<img class="nav-afov-logo" src="/images/afov-logo.svg">
					</a>
					<a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
						{{# each navLinks}}
							<li class="{{#ifeq ../section key}}active{{else}}{{/ifeq}}"><a href="{{ href }}">{{ label }}</a></li>
						{{/ each}}
					</ul>
					<ul class="side-nav" id="mobile-demo">
						<div class="side-nav-header"></div>
						{{# each navLinks}}
							<li>
								<a href="{{ href }}" class="{{#ifeq ../section key}}active{{else}}{{/ifeq}}">
									<i class="material-icons blue-grey-text text-lighten-2">{{ icon }}</i>
									{{ label }}
								</a>
							</li>
						{{/ each}}
					</ul>
				</div>
			</div>
		</nav>

		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->

			{{{body}}}

		</div>

		<footer class="section blue-grey darken-3">
			<div class="container">
				<div class="row">
					<ul class="col s12 m4">
						<p class="footer-header">Info</p>
						<li><a class="white-text" href="#">Contact</a></li>
						<li><a class="white-text" href="#">Blog</a></li>
						<li><a class="white-text" href="#">About</a></li>
					</ul>
					<ul class="col s12 m4">
						<p class="footer-header">Follow</p>
						<li><a class="white-text" href="#">YouTube</a></li>
						<li><a class="white-text" href="#">Reddit</a></li>
						<li><a class="white-text" href="#">Instagram</a></li>
						<li><a class="white-text" href="#">Facebook</a></li>
						<li><a class="white-text" href="#">Twitter</a></li>
					</ul>
					<ul class="col s12 m4">
						<p class="footer-header">Support</p>
						<li><a class="white-text" href="#">Patreon</a></li>
						<li><a class="white-text" href="#">Litecoin</a></li>
						<li><a class="white-text" href="#">Ethereum</a></li>
						<li><a class="white-text" href="#">Bitcoin</a></li>
					</ul>
				</div>
			</div>
		</footer>

		<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/js/materialize.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>

		{{{isAdminEditorJS user}}}
	</body>
</html>
