<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto::500,700|Roboto+Slab:700" rel="stylesheet">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117674715-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-117674715-1');
		</script>

		{{{isAdminEditorCSS user}}}

	</head>
	<body>
		<nav class="nav-bar">
			<div class="container">
				<a class="nav-logo-link" href="/">
					<img class="nav-logo-img" src="/images/afov-logo.svg">
				</a>
				<input type="checkbox" id="menu-button">
				<div class="nav-links mobile-nav">
					{{# each navLinks}}
						<a class="nav-link {{#ifeq ../section key}}active{{else}}{{/ifeq}}" href="{{ href }}">{{ label }}</a>
					{{/ each}}
				</div>
				<div class="nav-button-box">
					<label for="menu-button" class="nav-button">
						<div class="full-bar"></div>
						<div class="mid-bar"></div>
						<div class="full-bar"></div>
					</label>
				</div>
			</div>
		</nav>

		<div id="body">
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}

			{{{body}}}

		</div>

		<footer class="footer">
			<div class="container">
				<div class="footer-links">
					<h3 class="footer-header">Info</h3>
					<a class="footer-link" href="/contact">Contact</a>
					<a class="footer-link" href="/about">About</a>
					<a class="footer-link"  target="_blank" href="https://www.patreon.com/afistfulofvinyl">Support us on Patreon!</a>
					{{!-- <a class="footer-link" href="#">Blog</a>
					<a class="footer-link" href="#">Litecoin</a>
					<a class="footer-link" href="#">Ethereum</a>
					<a class="footer-link" href="#">Bitcoin</a>--}}
				</div>
				<div class="footer-links">
					<h3 class="footer-header">Follow</h3>
					<a class="footer-link" target="_blank" href="https://www.youtube.com/user/AFistfulOfVinyl">YouTube</a>
					<a class="footer-link" target="_blank" href="https://www.reddit.com/user/AFistfulOfVinyl">Reddit</a>
					<a class="footer-link" target="_blank" href="https://www.instagram.com/afistfulofvinyl/?hl=en">Instagram</a>
					<a class="footer-link" target="_blank" href="https://www.facebook.com/a.fistful.of.vinyl">Facebook</a>
					<a class="footer-link" target="_blank" href="https://twitter.com/AFistfulOfVinyl">Twitter</a>
				</div>
				<div class="footer-links">
					<h3 class="footer-header">Friends</h3>
					<a class="footer-link" target="_blank" href="http://www.kxlu.com/">88.9 FM KXLU </a>
					<a class="footer-link" target="_blank" href="https://www.reddit.com/r/listentothis/">/r/listentothis</a>
					<a class="footer-link" target="_blank" href="https://www.reddit.com/r/folkpunk/">/r/folkpunk</a>
					<a class="footer-link" target="_blank" href="https://www.reddit.com/r/punk/">/r/punk</a>
					<a class="footer-link" target="_blank" href="https://www.reddit.com/r/music/">/r/music</a>
				</div>
			</div>
		</footer>

		<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>

		{{{isAdminEditorJS user}}}
	</body>
</html>
