<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>AFoV</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

	</head>
	<body>
		<header class="header">
			<div class="nav limiter">
				<a href="/" class="header-logo"><img src="/images/afov-logo.svg"></a>

				<input type="checkbox" id="navBtn" name="navBtn"/>

				<div class="header-links">
					{{# each navLinks}}
						<a href="{{ href }}" class="header-link {{#ifeq ../section key}}active{{else}}{{/ifeq}}">{{ label }}</a>
					{{/each}}
				</div>

				<div class="button-row">
					<label class="nav-button" for="navBtn">
						<div class="button-box">
							<span class="bar"></span>
							<span class="bar mid"></span>
							<span class="bar"></span>
						</div>
					</label>
				</div>

			</div>
		</header>

		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->

			{{{body}}}

		</div>

		<footer class="footer">
			<div class="footer-grid limiter">
		    <div class="footer-column">
		      <h3 class="footer-header">Reach AFoV</h3>
		      <a href="#" class="footer-link">About</a>
		      <a href="/contact" class="footer-link">Contact</a>
		      <a href="/blog" class="footer-link">Blog</a>
					{{#if user}}
						<a class="footer-link" href="/keystone/signout">Sign Out</a></li>
					{{else}}
						<a class="footer-link" href="/keystone/signin">Sign In</a></li>
					{{/if}}
		    </div>
		    <div class="footer-column">
		      <h3 class="footer-header">Follow AFoV</h3>
		      <a href="#" class="footer-link">Youtube</a>
		      <a href="#" class="footer-link">Instagram</a>
		      <a href="#" class="footer-link">Facebook</a>
		      <a href="#" class="footer-link">Reddit</a>
		    </div>
		    <div class="footer-column">
		      <h3 class="footer-header">Support AFoV</h3>
		      <a href="#" class="footer-link">Patreon</a>
				 	<a href="#" class="footer-link">Bitcoin</a>
		      <a href="#" class="footer-link">Ethereum</a>
		      <a href="#" class="footer-link">Litecoin</a>
		    </div>
		  </div>
		</footer>

		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
