<head>
	<title>{{data.artist.artistName}}</title>
</head>

<style>
	::selection {
		color: white;
  	background: {{data.artist.artistColor}}; /* WebKit/Blink Browsers */
	}
	::-moz-selection {
		color: white;
  	background: {{data.artist.artistColor}}; /* Gecko Browsers */
	}
</style>

<section class="container">
	<div class="artist-info-card">
		<div class="artist-card">
			<div class="artist-card-img-box">
				<img class="artist-card-img" src="{{data.artist.artistPicture.secure_url}}" alt="Photo of {{data.artist.artistName}}">
				<div class="overlay" style="background: {{data.artist.artistColor}}"></div>
			</div>
		</div>
		<div class="artist-info">
			<h1 class="artist-heading">{{data.artist.artistName}}</h1>
			<div class="spacer"></div>
			{{{data.artist.artistBio}}}
		</div>
	</div>

	<h3 class="heading-underline">Sessions Featuring {{data.artist.artistName}}</h3>
	<div class="artist-sessions">
		{{# each data.sessions}}
		<a href="{{sessionUrl slug}}" class="video-card shadow">
			<div class="card-img-box">
				<img class="video-img" src="{{thumbnail.secure_url}}" alt="Thumbnail from {{data.artist.artistName}}">
				<div class="overlay" style="background: {{artist.artistColor}};"></div>
			</div>
			<div class="card-info">
				<h5 class="card-song-title sans" style=" color: {{artist.artistColor}};">{{songTitle}}</h5>
				<p class="post-date">{{ _.uploadDate.format "MMMM D Y" }}</p>
			</div>
		</a>
		{{/each}}
	</div>
</section>
