<div class="container">
		{{#if enquirySubmitted}}
		<h1>Thanks for reaching out!</h1>
		{{else}}
		<div class="contact-card shadow">
			<h2>Contact A Fistful of Vinyl</h2>
			<form method="post" class="contact-card-details">
				<img src="" alt="">
				<input type="hidden" name="action" value="contact">
				<div class="input-field">
					<label>Name</label>
					<input placeholder=" " type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
				</div>
				<div class="input-field">
					<label>Email</label>
					<input placeholder=" " type="email" name="email" class="validate" value="{{formData.email}}">
				</div>
				<div class="input-field">
					<label>Phone</label>
					<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
				</div>
				<div class="input-field">
					<label for="textarea1">Message</label>
					<textarea id="textarea1" name="message" placeholder="Send us a compliment, complaint, or ask us something..." >{{formData.message}}</textarea>
				</div>
				<div class="submit-button-box">
					<button type="submit">Send Message</button>
				</div>
			</form>
		</div>
		{{/if}}

	</div>
