<div class="container vertical-filler">
	<h3>Contact</h3>
		{{#if enquirySubmitted}}
		<div class="contact-card shadow thank-you">
			<div class="contact-header">
				<h2>Thanks for reaching out!</h2>
			</div>
			<div class="contact-card-details thank-you-text">
				<div>
					<p class="center-text">We'll get back to you asap.</p>
					<p class="center-text">💜</p>
					<p class="center-text">- AFoV</p>
				</div>
			</div>
		</div>
		{{else}}
		<div class="contact-card shadow">
			<div class="contact-header">
				<h2>Contact A Fistful of Vinyl</h2>
			</div>
			<form method="post" class="contact-card-details">
				<input type="hidden" name="action" value="contact">
				<div class="input-field">
					<label>Name</label>
					<input placeholder=" " type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
				</div>
				<div class="input-field">
					<label>Email</label>
					<input placeholder=" " type="email" name="email" class="validate" value="{{formData.email}}">
				</div>
				<div class="input-field">
					<label>Phone</label>
					<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
				</div>
				<div class="input-field">
					<label for="textarea1">Message</label>
					<textarea id="textarea1" name="message" rows="5" placeholder="Send us a compliment, complaint, or ask us something..." >{{formData.message}}</textarea>
				</div>
				<div class="submit-button-box">
					<button class="shadow" type="submit">Send Message</button>
				</div>
			</form>
		</div>
		{{/if}}

	</div>
