{{# each hero}}
	<div class="hero" style="background: white">
		<div class="container">
			<div class="hero-img-box shadow">
				<img class="hero-img" src="{{thumbnail.secure_url}}" alt="{{songTitle}}">
			</div>
			<div class="hero-info">
				<h1 class="hero-band-name">{{artist.artistName}}</h1>
				<h2 class="hero-song-name sans" style=" color: {{artist.artistColor}};">{{songTitle}}</h2>
				<p class="hero-add-date no-pad">Added: {{ _.uploadDate.format "MMMM D Y" }}</p>
				<p class="hero-song-description">{{shortDescription}}</p>
				<a class="watch-button shadow" style="background-color: {{artist.artistColor}};" href="{{sessionUrl slug}}"><i class="material-icons">library_music</i> Watch</a>
			</div>
		</div>
	</div>

{{/ each}}

<div class="container">
	<h3 class="heading-underline">Recent Sessions</h3>
	<div class="recent-videos">
		{{# each recent}}
			<a href="{{sessionUrl slug}}" class="video-card shadow">
				<div class="card-img-box">
					<img class="video-img" src="{{thumbnail.secure_url}}">
					<div class="overlay" style="background: {{artist.artistColor}};"></div>
					<h3 class="card-artist-name">{{artist.artistName}}</h3>
				</div>
				<div class="card-info">
					<h5 class="card-song-title sans" style=" color: {{artist.artistColor}};">{{songTitle}}</h5>
					<p class="post-date" >{{ _.uploadDate.format "MMMM D Y" }}</p>
				</div>
			</a>
		{{/ each}}
	</div>
</div>
