{{# each hero}}
	<style>
		.nav-bar {
			background: {{artist.artistColor}};
		}
	</style>

	<div class="hero" style="background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ) {{artist.artistColor}};">
		<div class="container">
			<div class="hero-img-box">
				<img class="hero-img" src="{{thumbnail.secure_url}}" alt="{{songTitle}}">
				<div class="overlay" style="background: {{artist.artistColor}};"></div>
			</div>
			<div class="hero-info">
				<h1 class="hero-band-name">{{artist.artistName}}</h1>
				<h2 class="hero-song-name sans">{{songTitle}}</h2>
				<p class="hero-song-description">{{shortDescription}}</p>
				<a class="watch-button" style="background-color: {{artist.artistColor}};" href="{{sessionUrl slug}}"><i class="material-icons">music_video</i> Watch</a>
			</div>
		</div>
	</div>


{{/ each}}

<div class="container">
	<h3>Recent Sessions</h3>
	<div class="recent-videos">
		{{# each recent}}
			<a href="{{sessionUrl slug}}" class="video-card">
				<div class="card-img-box">
					<img class="video-img" src="{{thumbnail.secure_url}}">
					<div class="overlay" style="background: {{artist.artistColor}};"></div>
					<h3 class="card-artist-name">{{artist.artistName}}</h3>
				</div>
				<p class="card-song-title" style="color: white; background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ) {{artist.artistColor}};">{{songTitle}}</p>
			</a>
		{{/ each}}
	</div>
</div>
