<div class="sub-navigation"></div>
<div class="container">
	<h5 class="white-text">Sessions</h5>
	<div class="row">
		{{# each sessions}}

		<a href="{{sessionUrl slug}}" class="col s12 m6 xl4 block">
      <div class="card">
        <div class="card-image">
					<img src="{{thumbnail.secure_url}}">
					<div class="overlay" style="background: {{artist.artistColor}};"></div>
          <div class="card-title">{{artist.artistName}}</div>
        </div>
        <div class="card-content" style="background: {{artist.artistColor}}; ">
          <p class="truncate" style="color: white;">{{songTitle}}</p>
        </div>
      </div>
    </a>

		{{/ each}}
	</div>
</div>
