<div class="offset-header"></div>
<div class="container video-info">
	<div class="session-video-card shadow">
		<div class="video-container" style="background: {{data.session.artist.artistColor}}">
			<i class="material-icons">play_circle_filled</i>
			<iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/{{data.session.youtubeVideoID}}?autoplay=1&modestbranding=1" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="video-details">
			<h1 class="artist-name-header no-pad">{{data.session.artist.artistName}}</h1>
			<h2 class="sans no-pad" style="color: {{data.session.artist.artistColor}}">{{data.session.songTitle}}</h2>
			<p class="session-post-date" >Added: {{ data.session._.uploadDate.format "MMMM D Y" }}</p>
			<p>{{data.session.shortDescription}}</p>
			<h3>Artist Info</h3>
			{{{data.session.artist.artistBio}}}
			<div class="spacer"></div>
			<h3>Session Contributors</h3>
			<div class="contributors">
				{{#each data.session.contributors}}
					<div class="chip">
						<img src="{{mugshot.secure_url}}" alt="Oops">
						{{name}}
					</div>
				{{/each}}
			</div>
			<div class="spacer"></div>
			<div class="subscribe">
				<script src="https://apis.google.com/js/platform.js"></script>
				<div class="g-ytsubscribe" data-channel="afistfulofvinyl" data-layout="full" data-count="default"></div>
			</div>
		</div>
	</div>

	{{#if data.related}}
	<div class="related-videos">
		<h3 class="rel-sessions heading-underline">More by {{data.session.artist.artistName}}</h3>
		<div class="related-items">
			{{#each data.related}}
				<a href="{{sessionUrl slug}}" class="video-card shadow">
					<div class="card-img-box">
						<img class="video-img" src="{{thumbnail.secure_url}}">
						<div class="overlay" style="background: {{artist.artistColor}};"></div>
					</div>
					<div class="card-info">
						<h5 class="card-song-title sans" style=" color: {{artist.artistColor}};">{{songTitle}}</h5>
						<p class="post-date" >{{ _.uploadDate.format "MMMM D Y" }}</p>
					</div>
				</a>
			{{/each}}
		</div>
	</div>
	{{else}}
	<div></div>
	{{/if}}
</div>
