<head>
	<title>AFoV Sessions</title>
</head>

<section class="container">
	<h3 class="heading-underline">Sessions</h3>
	<div class="session-cards">
		{{# each sessions}}
			<a href="{{sessionUrl slug}}" class="video-card shadow">
					<div class="card-img-box">
						<img class="video-img" src="{{thumbnail.secure_url}}" alt="Thumbnail from {{songTitle}} Video">
						<div class="overlay" style="background: {{artist.artistColor}};"></div>
						<h3 class="card-artist-name">{{artist.artistName}}</h3>
					</div>
					<div class="card-info">
						<h5 class="card-song-title sans" style="color: {{artist.artistColor}};">{{songTitle}}</h5>
						<p class="post-date" >{{ _.uploadDate.format "MMMM D Y" }}</p>
					</div>
			</a>
		{{/ each}}
	</div>
</section>
